<div *ngIf="recipe" class="bg-white rounded-lg overflow-hidden shadow-lg">
  <img
    [src]="recipe.image"
    class="w-full max-w-xs h-auto"
    alt="{{ recipe.label }}"
  />
  <div class="px-6 py-4">
    <div class="font-bold text-2xl mb-4">{{ recipe.label }}</div>
    <p class="text-gray-700 text-lg"><strong>Ingredients:</strong></p>
    <ul class="list-disc list-inside mb-4">
      <li
        *ngFor="let ingredient of recipe.ingredients"
        class="text-gray-700 text-base"
      >
        {{ ingredient.text }}
      </li>
    </ul>
    <p class="text-gray-700 text-lg">
      <strong>Meal Type:</strong> {{ recipe.mealType }}
    </p>
    <p class="text-gray-700 text-lg">
      <strong>Dish Type:</strong> {{ recipe.dishType }}
    </p>
    <p class="text-gray-700 text-lg">
      <strong>Diet Labels:</strong> {{ recipe.dietLabels }}
    </p>
    <p class="text-gray-700 text-lg">
      <strong>Cautions:</strong> {{ recipe.cautions }}
    </p>
  </div>
</div>
