<div *ngIf="recipe" class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.image"
      alt="{{ recipe.label }}"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>
<div *ngIf="recipe" class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.label }}</h1>
  </div>
</div>
<div *ngIf="recipe" class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.mealType }}</h1>
  </div>
</div>
<div *ngIf="recipe" class="row">
  <div class="col-xs-12">
    <h1 *ngFor="let ingredient of recipe.ingredients">{{ ingredient.text }}</h1>
  </div>
</div>
<div *ngIf="recipe" class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer" (click)="onEditRecipe()">Edit Recipe</a>
        </li>
        <li><a style="cursor: pointer">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="recipe" class="row">
  <div class="col-xs-12">{{ recipe.dishType }}</div>
</div>
