<div class="bg-white w-fit mx-auto px-10 py-5 m-2 rounded-lg shadow-lg">
  <h2 class="text-center text-2xl text-black italic" *ngIf="recipe">
    {{ recipe.label }}
  </h2>
  <img
    class="rounded-lg flex mx-auto m-8"
    *ngIf="recipe"
    [src]="recipe.image"
    [alt]="recipe.label"
  />
  <ul *ngIf="recipe" class="text-red-400">
    <li
      class="list-decimal text-left"
      *ngFor="let ingredientLines of recipe.ingredientLines"
    >
      {{ ingredientLines }}
    </li>
  </ul>
</div>

<div
  class="flex justify-center m-2 p-1 mx-auto w-fit bg-black rounded-lg shadow-lg"
>
  <ul class="flex flex-col flex-wrap" *ngIf="recipe">
    <li
      class="flex items-center m-2"
      *ngFor="let ingredient of recipe.ingredients"
    >
      <p class="mx-4 text-yellow-800">
        {{ ingredient.text }}
      </p>
    </li>
  </ul>
</div>
