<div class="navbar-header">
  <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
    <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
  </button>
  <a routerLink="/" class="navbar-brand">Chicken Recipe Book</a>
</div>
<div
  class="navbar-collapse"
  [class.collapse]="collapsed"
  (window:resize)="collapsed = true"
>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="/search">Recipe Search</a></li>
  </ul>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
  </ul>
</div>
