<div class="flex items-center justify-between px-4 py-3 bg-gray-800">
  <button
    type="button"
    class="text-gray-400 focus:outline-none focus:text-gray-500"
    (click)="collapsed = !collapsed"
  >
    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path
        [class.hidden]="collapsed"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"
      ></path>
      <path
        [class.hidden]="!collapsed"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      ></path>
    </svg>
  </button>
  <a routerLink="/" class="text-white text-4xl font-bold">Emre Natural Foods</a>
</div>

<div [class.hidden]="collapsed" class="bg-gray-800">
  <ul
    class="flex flex-initial sm:flex-row sm:space-x-4 sm:items-start sm:justify-center px-2 py-4"
  >
    <li routerLinkActive="active" class="text-white">
      <a routerLink="" class="block px-2 py-1 hover:text-gray-300">Recipes</a>
    </li>
    <ng-container *ngIf="!loggedIn; else loggedInMenu">
      <li routerLinkActive="active" class="text-white">
        <a routerLink="/login" class="block px-2 py-1 hover:text-gray-300"
          >Login</a
        >
      </li>
      <li routerLinkActive="active" class="text-white">
        <a routerLink="/register" class="block px-2 py-1 hover:text-gray-300"
          >Register</a
        >
      </li>
    </ng-container>
    <ng-template #loggedInMenu>
      <li routerLinkActive="active" class="text-white">
        <a class="block px-2 py-1 hover:text-gray-300" (click)="logoutHeader()"
          >Logout</a
        >
      </li>
    </ng-template>
  </ul>
</div>
