<a style="cursor: pointer" class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
    <p><strong>Meal Type:</strong> {{ recipe.mealType }}</p>
    <p><strong>Allergens:</strong> {{ recipe.allergens.join(", ") }}</p>
    <p>
      <strong>Dietary Requirements:</strong>
      {{ recipe.dietaryRequirements.join(", ") }}
    </p>
  </div>
  <span class="pull-right">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 50px"
    />
  </span>
</a>
